<h1 align="center">App Routing</h1>
<div align="center">
  <nav>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a> <br> <br>
    <a routerLink="/int-str-date" routerLinkActive="active" ariaCurrentWhenActive="page">int-str-date</a> <br> <br>
    <a routerLink="/array-in-list" routerLinkActive="active" ariaCurrentWhenActive="page">array-in-list</a> <br> <br>
    <a routerLink="/array-in-combo" routerLinkActive="active" ariaCurrentWhenActive="page">array-in-combo</a> <br> <br>
    <a routerLink="/text-box-area" routerLinkActive="active" ariaCurrentWhenActive="page">text-box-area</a> <br> <br>
    <a routerLink="/personal-details" routerLinkActive="active" ariaCurrentWhenActive="page">Fill-Personal-Details</a> <br> <br>
  </nav>
</div>
<router-outlet></router-outlet>