<div>
    <form #details = "ngForm" action="" method="get" (ngSubmit)="displayData(details.value)" novalidate>
        <table align="center">
            <tr>
                <th></th>
                <th>Personal Details</th>
            </tr>
            <tr>
                <td>    <label for="name">Name: </label>  <br> <br> </td>
                <td>    <input type="text" name="name" id="name" size="35" [(ngModel)]="name"  placeholder="Lastname Firstname Middlename"> <br><br>  </td>
            </tr>
            <tr>
                <td>    <label for="bdate">Birthdate</label> <br> <br> </td>
                <td>    <input type="date" name="birthdate" id="birthdate" [(ngModel)]="bdate"  placeholder="Birthdate"> <br> <br> </td>
            </tr>
            <tr>
                <td>    <label for="address">Address</label> <br> <br> </td>
                <td>    <textarea name="address" id="address" [(ngModel)]="address"  cols="30" rows="5"></textarea> <br> <br> </td>
            </tr>
            <tr>
                <td>    <label for="contactno">Contact Number</label> <br> <br> </td>
                <td>    <input type="number" name="contactno" id="contactno" [(ngModel)]="contactno"> <br> <br> </td>
            </tr>
            <tr>
                <td>    <label for="email">Email</label> <br> <br> <br> </td>
                <td>    <input type="email" name="email" id="email" [(ngModel)]="email"  size="30" placeholder="username@gmail.com"> <br> <br> </td>
            </tr>
            <tr>
                <td> </td>
                <td align="center">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<br>
<br>

<div *ngIf="display===true">
    <table border="0" align="center">
        <tr>
            <td>Name :</td>
            <td name="showname" >{{name}}</td>
        </tr>
        <tr>
            <td>Birthdate :</td>
            <td name="showbdate">{{bdate}}</td>
        </tr>
        <tr>
            <td>Address :</td>
            <td name="showaddress">{{address}}</td>
        </tr>
        <tr>
            <td>Contact Number :</td>
            <td name="showcontactno">{{contactno}}</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td name="showemail">{{email}}</td>
        </tr>
    </table>
</div>