<!-- <app-int-str-date></app-int-str-date>
<app-array-in-list></app-array-in-list> -->
<h1>App Routing</h1>
<nav>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a> <br>
  <a routerLink="/int-str-date" routerLinkActive="active" ariaCurrentWhenActive="page">int-str-date</a> <br>
  <a routerLink="/array-in-list" routerLinkActive="active" ariaCurrentWhenActive="page">array-in-list</a> <br>
  <a routerLink="/array-in-combo" routerLinkActive="active" ariaCurrentWhenActive="page">array-in-combo</a> <br>
  <a routerLink="/text-box-area" routerLinkActive="active" ariaCurrentWhenActive="page">text-box-area</a> <br>
</nav>
<router-outlet></router-outlet>