<div>
    <form action="" method="get">
        <table align="center">
            <tr>
                <th></th>
                <th>Personal Details</th>
            </tr>
            <tr>
                <td>    <label for="name">Name: </label>    </td>
                <td>    <input type="text" name="name" id="name" size="35"  placeholder="Lastname Firstname Middlename"> <br> <br>  </td>
            </tr>
            <tr>
                <td>    <label for="bdate">Birthdate</label>   </td>
                <td>    <input type="date" name="birthdate" id="birthdate"  placeholder="Birthdate">     </td>
            </tr>
            <tr>
                <td>    <label for="address">Address</label>    </td>
                <td>    <textarea name="address" id="address"  cols="30" rows="5"></textarea>    </td>
            </tr>
            <tr>
                <td>    <label for="contactno">Contact Number</label>   </td>
                <td>    <input type="number" name="contactno" id="contactno"  >  </td>
            </tr>
            <tr>
                <td>    <label for="email">Email</label>    </td>
                <td>    <input type="text" name="email" id="email"  placeholder="username@gmail.com">   </td>
            </tr>
            <tr>
                <td></td>
                <td align="center">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>




<!-- <div *ngIf="display">
    <table border="0">
        <tr>
            <td>Name :</td>
            <td name="showname">{{name}}</td>
        </tr>
        <tr>
            <td>Birthdate :</td>
            <td name="showbdate">{{bdate}}</td>
        </tr>
        <tr>
            <td>Address :</td>
            <td name="showaddress">{{address}}</td>
        </tr>
        <tr>
            <td>Contact Number :</td>
            <td name="showcontactno">{{contactno}}</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td name="showemail">{{email}}</td>
        </tr>
    </table>
</div> -->