<form action="/show-details" method="post">
    <table align="center">
        <tr>
            <td>    <label for="name">Name: </label>    </td>
            <td>    <input type="text" name="name" id="name" placeholder="Lastname Firstname Middlename"> <br>  </td>
        </tr>
        <tr>
            <td>    <label for="bdate">Birthdate</label>    </td>
            <td>    <input type="date" name="birthdate" id="birthdate" placeholder="Birthdate"> <br>    </td>
        </tr>
        <tr>
            <td>    <label for="address">Address</label>    </td>
            <td>    <textarea name="address" id="address" cols="30" rows="5"></textarea> <br>   </td>
        </tr>
        <tr>
            <td>    <label for="contactno">Contact Number</label>   </td>
            <td>    <input type="number" name="contactno" id="contactno"> <br>  </td>
        </tr>
        <tr>
            <td>    <label for="email">Email</label>    </td>
            <td>    <input type="text" name="email" id="email" placeholder="username@gmail.com">    </td>
        </tr>
        <tr>
            <td></td>
            <td align="center">
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>

<!-- <table border="0">
    <tr>
        <td>Name :</td>
        <td name="showname"></td>
    </tr>
    <tr>
        <td>Birthdate :</td>
        <td name="showbdate"></td>
    </tr>
    <tr>
        <td>Address :</td>
        <td name="showaddress"></td>
    </tr>
    <tr>
        <td>Contact Number :</td>
        <td name="showcontactno"></td>
    </tr>
    <tr>
        <td>Email :</td>
        <td name="showemail"></td>
    </tr>
</table>

<script>

</script> -->