
    <div align="center">
        <form [formGroup]="angForm">
            <table align="center">
                <tr>
                    <td> <label for="name">Name</label> </td>
                    <td> <input type="text" name="name" id="name"> </td>
                </tr>
                <tr>
                    <td> <label for="description">Description</label> </td>
                    <td> <textarea name="description" id="description" cols="30" rows="10"></textarea> </td>
                </tr>
                <tr>
                    <td> <label for="price">Price</label> </td>
                    <td> <input type="number" min="0" name="price" id="price"> </td>
                </tr>
                <tr>
                    <td> <label for="details">details</label> </td>
                    <td> <input type="text" name="details" id="details"> </td>
                </tr>
                <tr>
                    <td> <label for="seller">Seller</label> </td>
                    <td> <input type="text" name="seller" id="seller"> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> <button type="submit" (click)="insertProduct()" [disabled]="angForm.pristine || angForm.invalid">Add Product</button> </td>
                </tr>
            </table>
        </form>
    </div>
